.map_section {
  font-size: 1rem;
}

svg [hs-target-country] {
  fill: #604d64;
  cursor: pointer;
}

.map_popup-items {
    pointer-events: auto;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    max-width: 30rem;
    height: 85%;
    max-height: 30rem;
    display: flex;
    position: absolute;
    left: 2rem;
    z-index: 3;
}

.map_popup-items.is--hide {
  display: none;
}

.map_popup-items-inner {
      width: 100%;
    height: 100%;
    position: relative;
}

.map_popup {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity .375s cubic-bezier(.445, .05, .55, .95);
}

.map_popup.is--active {
  opacity: 1;
  pointer-events: auto;
}


.map-tag_holder, .map-hover_holder {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .375s cubic-bezier(.445, .05, .55, .95);
}

.map-tag_holder.is--hide {
  opacity: 0;
}

/* MAP TAGS */
.map-tag {
    position: absolute;
    z-index: 5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    color: #604d64;
    text-transform: uppercase;
    font-size: 0.8125rem;
    width: 0px;
    height: 0px;

}

.map-tab_line {
  width: 10px;
  height: 1px;
  background-color: currentColor;
  flex: 0 0 auto;
}

.map-tag[hs-target-country="philippines"] {
  right: 14.5%;
  bottom: 47%;
}
.map-tag[hs-target-country="philippines"] .map-tab_line {
  width: 20px;
}

.map-tag[hs-target-country="brazil"] {
  left: 26%;
  bottom: 33%;
  color: white;
}
.map-tag[hs-target-country="brazil"] .map-tab_line {
  display: none;
}


/* MAP HOVER ITEMS */
.map-hover_item {
    position: absolute;
    z-index: 5;
    width: 9.375rem;
    display: flex;
    flex-direction: column;
    transition: opacity .375s cubic-bezier(.445, .05, .55, .95);
}

.map_wrap .map-hover_item {
  opacity: 0;
  pointer-events: none;
}
.map_wrap .map-hover_item.is--active {
  opacity: 1;
  pointer-events: auto;
}

.map-hover_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.70);
}
.map-hover-country {
  border-left: 3px solid;
  border-color: #FF321D;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 2px;
  background-color: white;
}

.map-hover_img, .map-hover_img img {
  width: 100%
}


.popup-bottom-buttons {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.popup-arrow-wrap {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    display: flex;
}

.popup-arrow {
    aspect-ratio: 1;
    color: #fff;
    background-color: #ff321d;
    flex: none;
    justify-content: center;
    align-items: center;
    width: 2rem;
    display: flex;
}

.popup-arrow svg {
  width: 60%;
  height: 60%;
}

.popup-arrow svg path {
  stroke: currentColor;
}

.component-hide {
  display: block;
  position: relative;
  min-height: 100vh;
}

.component-hide.hide {
display: none;
}